header img {
    width: 100%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

nav {
    text-align: center;
}

.background {
    padding: 42px;
    background-color: darkslategray;
    color: white;
}

.background2 {
    padding: 42px;
    background-color: midnightblue;
    color: white;
}

.bg_3{
    padding: 42px;
}

.container {
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;

    max-width: 960px;
}

.activity-row {
    display: flex;
    margin-bottom: 20px;
}

.activity-col {
    padding: 10px;
}


footer{
    padding:20px;
    text-align: center;
}

.bot{
text-align: center;
}
