header img {
    width: 100%;
}
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
nav {
    text-align: center;
}

.background{
    background-color: indigo;
    color: white;
}
.background2{
    background-color: midnightblue;
    color: white;
}
.container {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;

    max-width: 960px;
}

.activity-row {
    display: flex;
    margin-bottom: 20px;
}

.activity-col {
    padding: 10px;
}
